<!DOCTYPE html>
<html>
   <title>Cache Checker</title>

   <body>

      <form action="/result" method="POST" id="input">
         Host: <input type="text" name="Host" value={{ Host }}><br>
         DB No: <input type="text" name="DB" value={{ DB }}><br>
         Enter a key broh!: <input type="text" name="Key"><br>
      </form>

      <button type="submit" form="input" value="Submit">Submit</button>

   </body>
</html>