<!doctype html>
<html>
   <title>Cache Checker</title>
   <body>
   <b> {{ header }} </b>
      <hr>
      <table>
         {% for key, value in result.items() %}

            <tr>
               <td> <b>{{ key.decode('utf-8') }} </b></td>
               <td> {{ value.decode('utf-8') }} </td>
            </tr>

         {% endfor %}
      </table>
   </body>
</html>